ul {
  padding: 0;
  list-style: none;
}

.font--sz-small {
  font-size: 0.8rem;
}

.font--sz-medium {
  font-size: 1rem;
}

.font--sz-average {
  font-size: 1.5rem;
}

.font--sz-large {
  font-size: 2rem;
}

.font--op-light {
  opacity: 75%;
}

.button--bg-primary {
  background-color: #23a6f0;
}

.outline--c-primary {
  outline: 2px solid #23a6f0;
}

.text--c-primary {
  color: #23a6f0;
}

.text--c-Ebony-Clay {
  color: #252b42;
}

.bullet--bg-green {
  background-color: #2dc071;
  color: white;
  border-radius: 50%;
}

.bullet--bg-gray {
  background-color: #bdbdbd;
  color: white;
  border-radius: 50%;
}

.bg--c-dark {
  background-color: #252b42;
}

.bg--c-light-blue {
  background-color: #8ec2f2;
}

.container__navbar {
  background-color: #252b42;
  color: white;
}

@media (min-width: 768px) {
  .container__navbar {
    background-color: transparent;
    position: absolute;
    top: 0%;
    width: 100%;
  }
}

.container__navbar > div {
  max-width: 1280px;
  margin: auto;
}

.container__navbar-shortcuts {
  border: none;
  background: none;
}

.container__site-cover-section {
  background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)),
    url("/images/heroCover.png");
  background-size: 100rem;
  background-position: 53rem;
}

@media (min-width: 768px) {
  .container__site-cover-section {
    background-image: linear-gradient(
        89.85deg,
        #000000 0.13%,
        #000000 0.14%,
        rgba(0, 0, 0, 0) 99.56%
      ),
      url("/images/heroCover.png");
    background-size: cover;
    background-position: 0rem;
    height: 100vh;
  }
}

.container__site-cover-container {
  height: auto;
  max-width: 1280px;
  margin: auto;
}

@media (min-width: 768px) {
  .container__site-cover-container {
    height: 100vh;
  }
}

.container__site-cover-div {
  width: 50%;
}

@media (max-width: 768px) {
  .container__site-cover-div {
    width: 90%;
    margin: auto;
  }
}

.container__cover-button-div > button {
  width: 10rem;
  margin: auto;
}

.container__features-section {
  color: white;
}

.container__features-div {
  width: 95%;
  margin: auto;
  max-width: 1280px;
}

.container__reviews-div > h1 {
  width: 60%;
  margin: auto;
}

.container__reviews-div > p {
  width: 60%;
  margin: auto;
}

.container__both-reviews {
  margin: auto;
  max-width: 1000px;
}

.container__both-reviews > div {
  position: relative;
}

.container__both-reviews img {
  position: absolute;
  border-radius: 50%;
  height: 50px;
  width: 50px;
  top: 0%;
  left: -10%;
}

.container__motto-title {
  width: 70%;
  margin: auto;
}

.container__motto-card-details > img {
  width: 100%;
  margin: auto;
}

@media (max-width: 768px) {
  .container__motto-card-details > img {
    width: 450px;
  }
}

.container__pricing-section > div {
  width: 60%;
  margin: auto;
}

.container__pricing-container {
  max-width: 1280px;
  margin: auto;
  width: 80%;
}

.container__pricing-features {
  border-radius: 6px;
}

.container__pricing-features > div {
  width: 100%;
  margin: auto;
  border-radius: 10px;
  font-size: 12px;
}

@media (max-width: 768px) {
  .container__pricing-features > div {
    width: 75%;
    margin: auto;
    max-width: 350px;
  }
}

.container__appointment {
  background-image: url("/images/appointmentBG.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

.container__appointment-flex-container {
  width: 80%;
  max-width: 1280px;
  margin: auto;
}

.container__appointment-form > button {
  border-radius: 4px;
  width: 200px;
  padding: 10px 0;
}

@media (max-width: 768px) {
  .container__appointment-form > button {
    width: 100%;
  }
}

@media (max-width: 768px) {
  .container__input-flex-div > input {
    width: 100%;
  }

  .container__input-flex-div > select {
    width: 100%;
  }
}

.container__consulting-div {
  width: 80%;
  margin: auto;
  max-width: 1280px;
}

.container__consulting-div > button {
  border-radius: 4px;
}

.container__footer-row {
  width: 80%;
  margin: auto;
  max-width: 1280px;
}

.container__footer-bottom-section {
  background-color: #252b42;
  color: white;
}

@media (min-width: 768px) {
  .container__footer-bottom-section {
    background-color: white;
    color: black;
  }
}

.container__footer-bottom-div {
  width: 80%;
  margin: auto;
  max-width: 1280px;
}
